@media screen and  (max-width:414px){

    body,html {
        font-family: Arial, sans-serif;
        background-color: #e9e4bb;
        color: #333;
        margin: 0;
        padding: 0;
    }
    
    header {
        background-color: #F5DD54;
        color: #1A1C27;
        text-align: center;
        padding: 1px 0;
    }
    
    header .logo h1 {
        position: absolute;
        top: 20%;
        left: 30%;
        font-size: 25px;
    }
    
    header .fraseTitulo p {
        top: 20%;
        left: 30%;
        font-size: 15px;
        
    }
    
    
    .quem-somos {
        padding: 40px 20px;
        background-color: #e9e4bb;
        text-align: center;
    }
    
    .quem-somos h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
        color: #1A1C27;
    }
    
    .quem-somos p {
        font-size: 1.2em;
        max-width: 800px;
        color: #1A1C27;
        
    }
    
    
    .inscricao {
        padding: 40px 20px;
        text-align: center;
        background-color: #e9e4bb;
    }
    
    .inscricao h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }
    
    .inscricao p {
        font-size: 1.2em;
    }
    
    .btn-inscrever {
        border-radius: 30px;
        margin-bottom: 100%;
        background-color: #1A1C27;
        color: #A89907;
    }
    .logo{
        width: 40%;
        height: 40%;
    }
    .bemVindo{
        position: absolute;
        top: 85%;
        left: 5%;
        font-size: 25px;
    }
    .bemVindo p{
        position: absolute;
        top: 95%;
        left:45%;
    }

    footer{
        font-size: 10px;
        position: absolute;
        left: 5%;
        top: 200%;
    }
    #btnDoar{
        position: absolute;
        border-radius: 30px;
        margin-bottom: 100%;
        background-color: #1A1C27;
        color: #A89907;
        top: 95%;
        left: 25%;
        width: 50%;

    }

    #btnReceber{
        position: absolute;
        border-radius: 30px;
        margin-bottom: 100%;
        background-color: #1A1C27;
        color: #A89907;
        top: 165%;
        left: 25%;
        width: 50%;
    }

    #h1BemVindo{
        position: absolute;
        top: 70%;
        left: 30%;
    }

    #LogoBV{
        position: absolute;
        top: 130%;
        left: 25%;

    }

    #LogoBV p{
        position: absolute;
        top: 125%;
        left: 5%;
        font-size: large;
        font-family: Arial, sans-serif;
        color: #1A1C27;

    }

}

