body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#display{
    width: 96.5%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 4px;
}
main{
    width: 50%;
    height: 50%;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
 }

 .botao{
    width: 210px;
    height: 45px;
    font-size: large;
    border: none;
    border-radius: 5px;
    background-color:#4d4a4a27;
    border: 1px solid black;

 }
 .botaoDel{
    width: 210px;
    height: 45px;
    font-size: large;
    border: none;
    border-radius: 5px;
    background-color:#ff1919;
    border: 1px solid black;
 }

